<a class="show-item" *ngIf="showTvShow || showMovie" [routerLink]="'detail/'+ (showTvShow?.id || showMovie?.id)">
  <div class="show-item-rating">
    <i class="pi pi-star-fill"></i>
    <span> {{ showTvShow?.vote_average || showMovie?.vote_average }}</span>
    <span>/10</span>
  </div>
  <div class="show-item-image">
    <img *ngIf="showTvShow" [src]="baseImageURL + showTvShow.poster_path" [alt]="showTvShow.name">
    <img *ngIf="showMovie" [src]="baseImageURL + showMovie.backdrop_path" [alt]="showMovie.original_title">
  </div>
  <div class="show-item-title">
    {{ showTvShow?.name || showMovie?.title }}
  </div>
</a>
