<div class="slider" *ngIf="slides">
  <ng-container *ngFor="let slide of slides; let showIndex = index">
    <div class="slide" *ngIf="slideIndex === showIndex" @slideFade>
      <div class="slide-bg">
        <img [src]="baseImageURL + slide.backdrop_path" [alt]="getSlideTitle(slide)">
      </div>
      <div class="slide-pane">
        <h2 class="title">{{ getSlideTitle(slide)}}</h2>
        <div class="meta mb-4">
          <div class="rating mb-1">
            <i class="pi pi-star-fill"></i>
            <span>{{ slide.vote_average }}</span>
            <span>/10</span>
          </div>
          <div class="votes mb-1">
            <i class="pi pi-users"></i>
            <span>{{ slide.popularity }}</span>
          </div>
          <div class="release-date">
            <i class="pi pi-calendar"></i>
            <span>{{ getReleaseDate(slide) | date:"MMMM dd yyyy" }}</span>
          </div>
        </div>
        <div class="description">
          <p>{{ slide.overview }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
